# Chemin vers le dossier Songs d'osu!
OSU_SONGS_PATH=C:\Users\TonNom\AppData\Local\osu!\Songs

# Touches utilisées pour frapper
KEY1=w
KEY2=x

# Offset de timing global (en millisecondes). Peut être négatif.
TIMING_OFFSET=0

# Seuil de noir pour détecter le début de map (en %)
BLACK_THRESHOLD=75.0

# Mode debug (True/False)
DEBUG=False